bin/
build/
lib/
ll/
doc/
env/

*.bak
*.ncb
*.opt
*.suo
*.user
*.pdb
*.sdf
*.opensdf
*.log
*.tlog
*.obj
*.idb
*.ilk

.*

cfg/config.cmake

include/base
include/platform_utils

support/python/__pycache__/